body{
	width: 1200px;
	margin: 0 auto;
}
#box1{
	height: 112px;
	overflow: hidden;
}
.logo{
	float: left;
	width: 190px;
	height: 73px;
	margin-top: 35px;
	overflow: hidden;
}
.logo a{
	display: block;
	width: 190px;
	height: 68px;
}
.icon{
	float: right;
}
.icon-list{
	width: 720px;
	height: 112px;
}

.icon-list li{
	width: 240px;
	height: 112px;
	float: left;

}
.f-icon{
	margin: 26px;
	float: left;
	width: 60px;
	height: 60px;
	/*background: url(../img/foot-sprite.png) -271px -106px;*/
}
.icon-list li:nth-child(1) .f-icon{
	background: url(../img/foot-sprite.png) -271px -106px;
	
}
.icon-list li:nth-child(2) .f-icon{
	background: url(../img/foot-sprite.png) -451px -106px;
	
}
.icon-list li:nth-child(3) .f-icon{
	background: url(../img/foot-sprite.png) -541px -106px;
	
}

.f-l-txt{
	float: left;
	margin: 26px 0;
	float: left;
	width: 100px;
	height: 60px;
	color: red;
	text-align: left;
}
.f-l-txt span{
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding-top: 10px;
	font-size: 20px;
}
.f-l-txt span:nth-child(2){
	color: #000;
	font-size: 12px;
}

/*大图+登陆*/
#box2{
	height: 557px;
}
.b-left{
	float: left;
	width: 673px;
	height: 558px;
}

.b-right{
	float: right;
	width: 340px;
	height: 377px;
	border: 1px solid #D4D4D4;
	margin-top: 75px;
	padding-bottom: 10px;
}
.b-right>a{
	display: block;
	color: #FFA500;
	margin: 20px 0 0 20px;
}
.b-right>form{
	width: 240px;
	height: 224px;
	margin: 0 auto;
	margin-top: 10px;
}
form>input{
	width: 242px;
	height: 42px;
	padding-left: 40px;
	box-sizing: border-box;
	border-radius: 10px;
	border: none;
	border: 1px solid #B1B1B1;
}
form>input:nth-of-type(3){
	width: 20px;
	height: 20px;
}
form>input:nth-of-type(4){
	padding-left: 0;
	background: red;
	color: #fff;
	cursor: pointer;
}
form>a{
	display: inline-block;
	padding-left: 20px;
}
form>a:nth-of-type(2){
	float: right;
}
form>p{
	height: 40px;
}

#box3{
	height: auto;
}

/*nav*/
.foot-nav{
	width: 540px;
	height: 18px;
	margin: 25px auto 0;
}
.nav-list>li{
	float: left;
}
.nav-list>li a{
	display: block;
	width: auto;
	height: 16px;
	padding: 0 10px;
	border-right: 1px solid #ccc;
}
.nav-list>li:nth-child(7) a{
	border-right:none;
}

.f-txt{
	width: 540px;
	height: 54px;
	margin: 12px auto 0;
}
.f-txt p{
	color: #666666;
	width: 100%;
	text-align: center;
}
.secure-icon{
	width: 874px;
	height: 35px;
	/*margin:192px 25px 0 0;*/
	margin-left: 192px;
	margin-top: 25px;
}
.secure-icon ul{
	width: 874px;
	height: 35px;
}
.secure-icon ul li{
	float: left;
	width: 87px;
	height: 35px;
	margin-left: 10px;
}
.secure-icon ul li a{
	display: block;
	width: 87px;
	height: 35px;
	background: url(../img/foot-sprite.png) -12px -30px;
}
.secure-icon ul li:nth-child(2) a{
	background: url(../img/foot-sprite.png) -107px -30px;
	
}
.secure-icon ul li:nth-child(3) a{
	background: url(../img/foot-sprite.png) -202px -30px;
	
}
.secure-icon ul li:nth-child(4) a{
	background: url(../img/foot-sprite.png) -297px -30px;
	
}
.secure-icon ul li:nth-child(5) a{
	background: url(../img/foot-sprite.png) -392px -30px;
	
}
.secure-icon ul li:nth-child(6) a{
	background: url(../img/foot-sprite.png) -487px -30px;
	
}
.secure-icon ul li:nth-child(7) a{
	background: url(../img/foot-sprite.png) -575px -30px;
	
}
.secure-icon ul li:nth-child(8) a{
	background: url(../img/foot-sprite.png) -681px -30px;
	
}
.secure-icon ul li:nth-child(9) a{
	background: url(../img/foot-sprite.png) -790px -30px;
	
}






