body{
	width: 1200px;
	margin: 0 auto;
}
#head {
	width: 1200px;
	height: 35px;
	margin: 0 auto;
	background: #F0F0F0;
}

#head .h-left {
	float: left;
	width: 184px;
	height: 35px;
	line-height: 35px;
	text-align: right;
}
/*头部*/
#head .h-left li {
	float: left;
	padding-left: 20px;
}
#head .list {
	float: right;
}

#head .list li {
	float: left;
}

#head .list li a {
	display: block;
	padding-left: 25px;
	text-align: center;
	height: 35px;
	line-height: 35px;
}
/*logo*/
#logo-wrap{
	height: 70px;
	margin-top: 30px;
}
#logo-wrap  h1{
	float: left;
}
#logo-wrap .logo-h{
	display: block;
	width: 220px;
	height: 70px;
}
#logo-wrap .pc{
	display: block;
	float: left;
}
#logo-wrap .int {
	float: right;
	margin-top: 20px;
	width: 450px;
	height: 33px;
	border: 1px solid red;
	border-radius: 5px;
}
.seek {
	float: left;
	width: 400px;
	height: 33px;
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 10px;
	box-sizing: border-box;
	color: #ccc;
}
.btn {
	float: left;
	width: 50px;
	height: 33px;
	background: #c81417;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fff;
	font-family: '黑体';
}
#bg-img{
	height: 80px;
}
/*购物车*/
#cart-wrap,#cart-wrap1,#sell-wrap{
	margin-top: 20px;
	width: 100%;
	border: 1px solid #EBEBEB;
}
/**/
#cart-wrap1{
	border: none;
}
.c-massage{
	width: 1200px;
	border: 1px solid #EBEBEB;
	border-top: none;
}
.c-massage tr{
	border-top: 1px solid #EBEBEB;
}
.c-massage tr:nth-of-type(1){
	height: 44px;
}
.c-massage tr:nth-of-type(1) th{
	text-align: center;
}
.c-massage tr:nth-of-type(2){
	height: 80px;
}
.c-massage td{
	text-align: center;
}
.g-msg{
	/*width: 470px;*/
}
.g-msg div{
	float: left;
}
.g-img img{
	margin: 0 5px;
	width: 60px;
	height: 60px;
}
.g-txt{
	display: block;
	width: 400px;
	height: 40px;
}
.g-txt:hover{
	color: red;
}
.i-list li{
	float: left;
}
.i-list li input{
	width:20px;
	height: 20px;
	cursor: pointer;
}
.i-list li:nth-of-type(2) input{
	height: 16px;
	line-height: 16;
	text-align: center;
}
.g-price{
	color: red;
	font-weight: 900;
}
.g-price1{
	color: #3C3C3C;
}
.youhui{
	color: orange;
}
/**/
.total-msg{
	background: #f5f5f5;
    border: 1px solid #e6e6e6;
    height: 40px;
    margin-top: 20px;
    padding: 25px 0px;
}
.t-left{
	float: left;
	width: 211px;
	height: 18px;
}
.t-left ul li{
	float: left;
	margin-left: 22px;
}
.t-center{
	float: left;
	width: 354px;
	height: 46px;
	margin-left: 90px;
}
.t-right{
	float: left;
	width: 500px;
	height: 45px;
}
.t-right ul li{
	float:left;
	width:140px;
	height: 45px;
	margin-left: 40px;
}
.t-right ul li:nth-of-type(1){
	margin-left: 0;
}
.t-right ul li>p{
	margin-top: 5px;
	color: #000;
	font-size: 16px;
}
.t-right ul li p:nth-of-type(1) span{
	color: red;
	font-weight: 900;
}
.t-right ul li p:nth-of-type(2) span{
	color: orange;
}
.t-right ul li p:nth-of-type(2){
	font-size: 12px;
	color: #757575;
	letter-spacing: 3px;
}
.t-right ul li .out-pay,.pay{
	display: block;
	width: 120px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border: none;
	background: #C81714;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
/*.t-right ul li .pay{
	margin-left: 50px;
}*/
/**/
.c-head,.c-head1{
	padding-left: 20px;
	height: 46px;
	line-height: 46px;
	color: red;
	font-size: 14px;
	font-weight: 900;
	background: #EEEEEE;
}
.c-head .qingdan{
	display: inline-block ;
	height: 44px;
	width: 80px;
	padding-left: 16px;
	border-bottom:  2px solid red;
}
.c-list{
	padding-bottom: 30px;
}
.c-list li{
	text-align: center;
	height: 160px;
}
.c-list li div{
	text-align: center;
	height: 160px;
	line-height: 160px;
	
}
.c-list li div img{
	vertical-align: middle;
}
.c-list li div a{
	color: cyan;
}
/**/
/*热售*/
.sell-list{
	padding-bottom: 30px;
}
.sell-list>li{
	display: inline-block;	
	margin: 23px 0 0 25px;
	width: 170px;
	height: 258px;
	cursor: pointer;
}
.sell-list>li img{
	width: 170px;
	height: 170px;
}
.sell-txt{
	width: 170px;
	height: 50px;
}
.sell-price{
	width: 170px;
	height: 20px;
	margin-top: 8px;
}
.sell-price span:nth-of-type(1){
	color: red;
	font-size: 14px;
	font-weight: 900;
}
.sell-price span:nth-of-type(2){
	color: #B1B1B1;
	font-size: 14px;
	text-decoration: line-through;
}
#empty{
	height: 30px;
}


/*底部*/
#box15{
	width: 1200px;
	height: 525px;
	margin: 0 auto;
}
.foot-long{
	width: 1200px;
	height: 112px;
	border-bottom: 1px solid #D4D4D4;
}
.foot-long li{
	float: left;
	width: 20%;
	height: 100%;
}
.f-icon{
	margin: 26px;
	float: left;
	width: 60px;
	height: 60px;
	background: url(../resource/img/foot-sprite.png) -271px -106px;
}
.foot-long li:nth-child(2) .f-icon{
	background: url(../resource/img/foot-sprite.png) -361px -106px;
	
}
.foot-long li:nth-child(3) .f-icon{
	background: url(../resource/img/foot-sprite.png) -451px -106px;
	
}
.foot-long li:nth-child(4) .f-icon{
	background: url(../resource/img/foot-sprite.png) -541px -106px;
	
}
.foot-long li:nth-child(5) .f-icon{
	background: url(../resource/img/foot-sprite.png) -626px -106px;
	
}
.f-l-txt{
	float: left;
	margin: 26px 0;
	float: left;
	width: 100px;
	height: 60px;
	color: red;
	text-align: left;
}
.f-l-txt span{
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding-top: 10px;
	font-size: 20px;
}
.f-l-txt span:nth-child(2){
	color: #000;
	font-size: 12px;
}
.f-connet{
	width: 1200px;
	height: 200px;
	border-bottom: 1px solid #D4D4D4;
	margin-top: 30px;
}
.f-connet>li{
	float: left;
	width: 15%;
	height: 175px;
	border-right: 1px solid #D4D4D4;
	box-sizing: border-box;
}
.f-connet>li:nth-child(1){
	width: 20%;
}
.f-connet>li:nth-child(6){
	width: 20%;
	border-right: none;
}

.w-q-icon{
	width: 90%;
	height: 70px;
	color: #3C3C3C;
}
.w-q-icon .qq,.weixin{
	width: 50%;
	height: 70px;
	float: left;
}
.qq dt,.weixin dt{
	width: 60%;
	height: 45px;
	background: url(../resource/img/foot-sprite.png) 12px -105px;
}
.weixin dt{
	background: url(../resource/img/foot-sprite.png) -52px -105px;
	
}
.qq dd,.weixin dd{
	width: 60%;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
.tell{
	width: 100%;
	height: 80px;
	color: #3C3C3C;
}
.tell p:nth-child(1){
	margin-top: 20px;
	width: 40%;
	height: auto;
	float: left;
	text-align: center;
}
.tell p:nth-child(2){
	margin-top: 20px;
	width: 60%;
	height: auto;
	float: left;
}
.tell p:nth-child(2) span{
	display: block;
}
.date{
	padding-left:20px ;
	width: 100%;
	height: 20px;
	color: #3C3C3C;
	box-sizing: border-box;
}

.f-connet>li .shop-l,.pay-type,.take-type,.witer-type{
	/*width: 100%;*/
	height: 100%;
	margin-left: 55px;
}
.f-connet>li .shop-l li,.pay-type li,.take-type li,.witer-type li{
	height: 25px;
	line-height: 25px;
	color: #757575;
}

.f-connet>li .shop-l li:nth-child(1),.pay-type li:nth-child(1),.take-type li:nth-child(1),.witer-type li:nth-child(1){
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #3C3C3C;
}
.d-ma{
	margin-left: 60px;
}

/*nav*/
.foot-nav{
	width: 540px;
	height: 18px;
	margin: 25px auto 0;
}
.nav-list>li{
	float: left;
}
.nav-list>li a{
	display: block;
	width: auto;
	height: 16px;
	padding: 0 10px;
	border-right: 1px solid #ccc;
}
.nav-list>li:nth-child(7) a{
	border-right:none;
}

.f-txt{
	width: 540px;
	height: 54px;
	margin: 12px auto 0;
}
.f-txt p{
	color: #666666;
	width: 100%;
	text-align: center;
}
.secure-icon{
	width: 874px;
	height: 35px;
	/*margin:192px 25px 0 0;*/
	margin-left: 192px;
	margin-top: 25px;
}
.secure-icon ul{
	width: 874px;
	height: 35px;
}
.secure-icon ul li{
	float: left;
	width: 87px;
	height: 35px;
	margin-left: 10px;
}
.secure-icon ul li a{
	display: block;
	width: 87px;
	height: 35px;
	background: url(../resource/img/foot-sprite.png) -12px -30px;
}
.secure-icon ul li:nth-child(2) a{
	background: url(../resource/img/foot-sprite.png) -107px -30px;
	
}
.secure-icon ul li:nth-child(3) a{
	background: url(../resource/img/foot-sprite.png) -202px -30px;
	
}
.secure-icon ul li:nth-child(4) a{
	background: url(../resource/img/foot-sprite.png) -297px -30px;
	
}
.secure-icon ul li:nth-child(5) a{
	background: url(../resource/img/foot-sprite.png) -392px -30px;
	
}
.secure-icon ul li:nth-child(6) a{
	background: url(../resource/img/foot-sprite.png) -487px -30px;
	
}
.secure-icon ul li:nth-child(7) a{
	background: url(../resource/img/foot-sprite.png) -575px -30px;
	
}
.secure-icon ul li:nth-child(8) a{
	background: url(../resource/img/foot-sprite.png) -681px -30px;
	
}
.secure-icon ul li:nth-child(9) a{
	background: url(../resource/img/foot-sprite.png) -790px -30px;
	
}